@model IEnumerable<ZATAppApi.ViewModels.ResetPasswordsViewModel>

@{
    ViewBag.Title = "Reset Passwords or Block User";
    var count = 0;
    string cls;
}

<div class="general">
    <div class="panel panel-info widget-shadow">
        <div class="panel-heading">
            <h2 class="title2">@ViewBag.Title</h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contact)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        if (item.IsBlocked)
                        {
                            cls = "danger";
                        }
                        else
                        {
                            cls = "success";
                        }
                        <tr class="@cls">
                            <td>@(++count)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contact)
                            </td>
                            <td>
                                @Html.ActionLink("Reset Password", "ResetPassword", new { id = item.Id }, new { @class = "btn btn-primary" })
                                @if (!item.IsBlocked)
                                {
                                    <a href="@Url.Action("Block", new { id = item.Id })" class="btn btn-danger" onclick="return window.confirm('Do you really want to block this user?')">Block</a>

                                }
                                else
                                {
                                    <a href="@Url.Action("Unblock",new { id = item.Id })" class="btn btn-success" onclick="return window.confirm('Do you really want to unblock this user?')">Unblock</a>

                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    @*!!!I included a css for datatables*@
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script>
        $(document).ready(function () {
            $('.table').DataTable(

            );
        });
    </script>
}